{{define "title"}}Login to your account{{end}}
{{define "main"}}
<form action='/login/post' method='POST'>

    {{with .FormErrors.general}}
    <label class='error'>{{.}}</label>
    {{end}}

    <div>
        <label>Email:</label>
        {{with .FormErrors.email}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='email' value='{{.Form.Email}}'>
    </div>

    <div>
        <label>Password:</label>
        {{with .FormErrors.password}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='password' value='{{.Form.Password}}'>
    </div>

    <a href="/auth/google">Login with Google</a>
    <a href="/auth/github">Login with Github</a>
    
    <div>
        <input type='submit' value='Login'>
    </div>
    

</form>
{{end}}
