{{define "title"}}Post #{{.PostByUser.ID}}{{end}}

{{define "main"}}
<div id="reportWindow" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>

    <h2>Report Post</h2>
    <form action="/post/report" method="POST">
      <input type="hidden" name="post_id" value="{{.PostByUser.ID}}" />

      <label for="report_reason_id">Reason:</label>
      <select name="report_reason_id" id="report_reason_id">
        {{range .ReportReasons}}
        <option value="{{.ID}}">{{.Text}}</option>
        {{end}}
      </select>
      <br><br>

      <label for="description">Description:</label><br>
      <textarea name="description" rows="3" cols="40" placeholder="Optional extra details..."></textarea>
      <br><br>

      <button type="submit">Submit Report</button>
    </form>
  </div>
</div>

<div class="post-view-wrapper">
    {{if .PostByUser}}
    <div class="post-card post-card-full">
        <div class="card-header">
          <div class="user-data">
            <div class="post-card-NameDate">
              <p class="post-card-Username">By {{.PostByUser.OwnerName}}</p>
              <span class="post-card-Date">
                <time datetime="">{{humanDate .PostByUser.CreatedAt}}</time>
              </span>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="title">
            <p class="titleHome">{{.PostByUser.Title}}</p>
          </div>
          {{with .PostByUser.ImgUrl}}
            <img src="/imgs/{{.}}" alt="Post Image"/>
          {{end}}
    
          <div class="desc">
            <div class="postText_short">{{.PostByUser.Content}}</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="category-tags-wrapper">
            <p class="category-tag">{{.PostByUser.CategoryName}}</p>
          </div>
          <div class="reactions-wrapper">
            <div class="reaction-container">
              <i class="fa fa-comment no-color"></i>
              <p>{{.PostByUser.CommentCount}}</p>
            </div>
            <div class="reaction-container">
              <form action="/post/reaction?id={{.PostByUser.ID}}" method="POST">
                <button class="reaction-button" type="submit" name="reaction" value="like">
                  <i class="fa fa-thumbs-up {{if .PostByUser.IsLiked}}green{{else}}no-color{{end}}"></i>
                  {{.PostByUser.LikeCount}}
                </button>
              </form>
            </div>
            <div class="reaction-container">
              <form action="/post/reaction?id={{.PostByUser.ID}}" method="POST">
                <button class="reaction-button" type="submit" name="reaction" value="dislike">
                  <i class="fa fa-thumbs-down {{if .PostByUser.IsDisliked}}red{{else}}no-color{{end}}"></i>
                  {{.PostByUser.DislikeCount}}
                </button>
              </form>
              {{if .User}}
                {{if or (eq .User.Role "moderator") (eq .User.Role "admin")}}
                <button id="openReportModal" class="report-btn">
                  Report Post
                </button>
                {{end}}
              {{end}}
            </div>
          </div>
        </div>
    </div>
    
    
    <form action="/comments/create" class="comment-input-container"  method="post">
        <input type="hidden" name="postId" value="{{.PostByUser.ID}}">
        <textarea placeholder="Add commnet"  class="textarea-add-comment" id="content" name="text" rows="5" cols="80" required></textarea>
        <button class="comment-add-button" type="submit" value="Add">Comment</button>
    </form>
    
    
    <div class="comments-container">
        <ul id="comments-list" class="comments-list">
            {{range .Comments}}
            <li>
                <div class="comment-main-level">
                    <div class="comment-avatar">
                        <img src="/static/img/abay.jpeg" alt="User Avatar">
                    </div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <div class="comment-head-info">
                              <h6 class="comment-name">
                                  <a href="http://creaticode.com/blog">{{.Username}}</a>
                              </h6>
                              <span>{{humanDate .CreatedAt}}</span>
                            </div>

                            <div class="comment-head-controls">
                              <form action="/comments/reaction?id={{.ID}}" method="POST" >
                                  <input type="hidden" name="postId" value="{{.PostID}}">
                                  <button class="reaction-button" type="submit" name="reaction" value="like">
                                      <i class="fa fa-thumbs-up {{if .IsLiked}}green{{else}}no-color{{end}}"></i>
                                      {{.LikeCount}}
                                  </button>
                              </form>
                              <form action="/comments/reaction?id={{.ID}}" method="POST" >
                                  <input type="hidden" name="postId" value="{{.PostID}}">
                                  <button class="reaction-button" type="submit" name="reaction" value="dislike">
                                      <i class="fa fa-thumbs-down {{if .IsDisliked}}red{{else}}no-color{{end}}"></i>
                                      {{.DislikeCount}}
                                  </button>
                              </form>
                                {{if $.User}}
                                  {{if or (eq $.User.Role "moderator") (or (eq $.User.Role "admin") (eq $.User.ID .UserID))}}
                                  <form action="/comments/delete?id={{.ID}}" method="POST" >
                                    <button class="reaction-button" type="submit" value="delete">
                                    <i class="fa fa-trash"></i>
                                    </button>
                                  </form>
                                  {{end}}
                                {{end}}
                              </form>
                            </div>


                        </div>
                        <div class="comment-content">
                            {{.Text}}
                        </div>
                    </div>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
        
    {{end}}
    
    
    {{if .User}}
    {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}

    <form action="/post/delete?id={{.PostByUser.ID}}" method="post">
        <input type="submit" value="Delete Post">
    </form>
    
    {{end}}
    {{end}}
    
    
    {{end}}

    

</div>

