{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
{{with .Post}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <!-- Like and Dislike counts are clickable (submit via form) -->
        <form action="/post/reaction?id={{.ID}}" method="POST" style="display:inline;">
            <button class="reaction-button" type="submit" name="reaction" value="like">
                <i class="fa fa-thumbs-up {{if .IsLiked}}green{{else}}no-color{{end}}"></i>
                {{.LikeCount}}
            </button>
        </form>
        <form action="/post/reaction?id={{.ID}}" method="POST" style="display:inline;">
            <button class="reaction-button" type="submit" name="reaction" value="dislike">
                <i class="fa fa-thumbs-down {{if .IsDisliked}}red{{else}}no-color{{end}}"></i>
                {{.DislikeCount}}
            </button>
        </form>
    </div>
</div>

<ul id="comments-list" class="comments-list">

<li>
    <div class="comment-main-level">
        <!-- Avatar -->
        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box">
            <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                <span>hace 10 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
        </div>
    </div>
</li>

</ul>

<br>

{{end}}
{{end}}
