{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
{{with .Post}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <!-- Like and Dislike counts are clickable (submit via form) -->
        <form action="/post/reaction?id={{.ID}}" method="POST" style="display:inline;">
            <button class="reaction-button" type="submit" name="reaction" value="like">
                <i class="fa fa-thumbs-up {{if .IsLiked}}green{{else}}no-color{{end}}"></i>
                {{.LikeCount}}
            </button>
        </form>
        <form action="/post/reaction?id={{.ID}}" method="POST" style="display:inline;">
            <button class="reaction-button" type="submit" name="reaction" value="dislike">
                <i class="fa fa-thumbs-down {{if .IsDisliked}}red{{else}}no-color{{end}}"></i>
                {{.DislikeCount}}
            </button>
        </form>
    </div>
</div>
{{end}}
{{end}}
